<section class="dashboard-cards">

    <div class="dashboard-card">

        <div class="dashboard-icon blue">

            <i class="fa-solid fa-cart-shopping"></i>

        </div>

        <h4>Total Orders</h4>

        <h2 id="totalOrders">0</h2>

    </div>

    <div class="dashboard-card">

        <div class="dashboard-icon orange">

            <i class="fa-solid fa-clock"></i>

        </div>

        <h4>Pending</h4>

        <h2 id="pendingOrders">0</h2>

    </div>

    <div class="dashboard-card">

        <div class="dashboard-icon green">

            <i class="fa-solid fa-circle-check"></i>

        </div>

        <h4>Completed</h4>

        <h2 id="deliveredOrders">0</h2>

    </div>

    <div class="dashboard-card">

        <div class="dashboard-icon purple">

            <i class="fa-solid fa-peso-sign"></i>

        </div>

        <h4>Total Spent</h4>

        <h2><span id="totalSpent">0</span></h2>

    </div>

</section>