<nav class="dashboard-navbar glass">

    <button
        id="mobileMenuBtn"
        class="mobile-menu-btn"
        type="button">

        <i class="fa-solid fa-bars"></i>

    </button>

    <div class="navbar-title">

        <h2>Dashboard</h2>

        <small>Customer Panel</small>

    </div>

    <div class="nav-right">

        <button
            id="themeToggle"
            class="theme-btn"
            type="button">

            <i class="fa-solid fa-moon"></i>

        </button>

        <div class="profile">

            <div
                id="avatarLetter"
                class="avatar">

                A

            </div>

            <div>

                <strong id="navbarName">

                    Loading...

                </strong>

                <br>

                <small>

                    Customer

                </small>

            </div>

        </div>

    </div>

</nav>