<section class="recent-orders">

    <div class="section-title">

        <h2>Recent Orders</h2>

        <a href="#">
            View All
        </a>

    </div>

    <table>

        <thead>

            <tr>

                <th>Order ID</th>

                <th>Product</th>

                <th>Status</th>

                <th>Total</th>

            </tr>

        </thead>

        <tbody id="recentOrdersTable">

            <tr>

                <td colspan="4">

                    No Orders Yet

                </td>

            </tr>

        </tbody>

    </table>

</section>